CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_SPL=y
CONFIG_MACH_SUN50I_H6=y
CONFIG_DRAM_CLK=648
CONFIG_DRAM_ZQ=3881979
CONFIG_SUNXI_DRAM_H6_DDR3_1333=y
CONFIG_MMC0_CD_PIN="PF6"
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
# CONFIG_PSCI_RESET is not set
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_USE_PREBOOT=y
# CONFIG_SPL_DOS_PARTITION is not set
CONFIG_DEFAULT_DEVICE_TREE="sun50i-h6-tanix-tx6"
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
#CONFIG_USB_EHCI_HCD=y
#CONFIG_USB_OHCI_HCD=y
CONFIG_DM_VIDEO=y
CONFIG_VIDEO_BPP32=y
CONFIG_DISPLAY=y
CONFIG_I2C_EDID=y
# CONFIG_SPL_EFI_PARTITION is not set
CONFIG_DISTRO_DEFAULTS=y
CONFIG_CMD_UNZIP=y
CONFIG_ENV_SIZE=0x4000
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
