[global]
Name = My openvpn
Description = my setup

[provider_openvpn]
Type = OpenVPN
Name = Swapbox
Host = lone.exchangetechnology.dk
Domain = boxnet.exchangetechnology.dk
OpenVPN.CACert = /etc/openvpn/ca.crt
OpenVPN.Cert = /etc/openvpn/client.crt
OpenVPN.Key = /etc/openvpn/client.key
OpenVPN.ConfigFile=/etc/openvpn/client.conf
