# Distro Darnia

#MACHINE ?= "rpi3"
MACHINE ?= "opi0"
#MACHINE ?= "opi0p2h3"
#MACHINE ?= "opi-r1"
#MACHINE ?= "bpi-m2-zero"
#MACHINE ?= "tx6"
#MACHINE ?= "tx6m"

# raspberrypi stuff
DISABLE_SPLASH = "1"
DISABLE_RPI_BOOT_LOGO = "1"
DISABLE_RPI_BOOT_CURSOR = "1"

RPI_ENABLE_OTG = "1"
BOOT_DELAY = "0"
HDMI_FORCE_HOTPLUG = "1"
ENABLE_UART = "1"

# Distro
DISTRO = "darnia"
#DISTRO = "darnia-headless"

# i686 or x86_64
SDKMACHINE = "x86_64"

PATCHRESOLVE = "noop"

RM_OLD_IMAGE = "1"

INHERIT += "rm_work"

CONF_VERSION = "1"
